<mat-toolbar mat-elevation-z2 fxLayoutAlign="end center">
    <button color="primary" printTitle="TECHNOGROWTH INVOICE" styleSheetFile="../../../assets/css/invoice.css"
        printSectionId="invoice" ngxPrint (click)="isActive = !isActive" mat-mini-fab aria-label="Print Document">
        <mat-icon>print</mat-icon>
    </button>
</mat-toolbar>
<!-- <mat-toolbar>INVOICE</mat-toolbar> -->
<div id="invoice" mat-elevation-z7>
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <div class="col">
                        <a target="_blank" href="https://lobianijs.com">
                            <img height="60" width="200" src="../../../assets/Images/tech.png"
                                data-holder-rendered="true" />
                        </a>
                    </div>
                    <div class="col company-details">
                        <div class="name">
                            <h3>
                                <a target="_blank" href="http://technogrowth.com/index.html">
                                    Technogrowth Software Solution Pvt.Ltd.
                                </a>
                            </h3>
                        </div>
                        <div>Office: Dnyandeep colony, Shriraj
                            Bungalow, Yogiraj Park, Lane No. 1,
                            KarveNagar, Pin: 411 052,

                        </div>
                        +91 8983 201 122
                        info@technogrowth.com
                    </div>
                </div>
            </header>
            
            <main>
                <div class="row contacts">
                    <div class="col invoice-to">
                        <div class="text-gray-light">INVOICE TO:</div>
                        <h2 class="to">{{invoiceData.vendorname |titlecase}}</h2>
                        <div class="address">{{invoiceData.address}}</div>
                        <div class="email"><a href="mailto:john@example.com">{{invoiceData.email}}</a></div>
                    </div>
                    <div class="col invoice-details">
                        <h1 class="invoice-id">INVOICE {{invoiceData.invoiceid}} </h1>
                        <div class="date"> ISSUE DATE : {{invoiceData.issuedate | date: "mediumDate"}}</div>
                        <div class="date">DUE DATE : {{invoiceData.duedate | date: "mediumDate"}}</div>
                    </div>
                </div>
                <!-- <table mat-table [dataSource]="ELEMENT_DATA" class="mat-elevation-z8">
                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                      <th mat-header-cell *matHeaderCellDef> {{column |titlecase}} </th>
                      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                  </table> -->
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th class="text-left">ITEM</th>
                            <th class="text-left">DESCRIPTION</th>
                            <th class="text-right">PRICE</th>
                            <th class="text-right">QUANTITY</th>
                            <th class="text-right">DISCOUNT</th>
                            <th class="text-right">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of itemData">
                            <td class="no">{{items.itemid}}</td>
                            <td class="unit">{{items.item}}</td>
                            <td class="text-left">{{items.description}}</td>
                            <td class="unit">{{items.price}}</td>
                            <td class="qty">{{items.qty}}</td>
                            <td class="qty">{{items.discount}}</td>
                            <td class="total">{{items.amount}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">SUBTOTAL</td>
                            <td>Rs {{subtotalAmount}}</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">SGST</td>
                            <td>{{invoiceData.sgst}}%</td>
                        </tr>

                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">CGST</td>
                            <td>{{invoiceData.cgst}}%</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">GRAND TOTAL</td>
                            <td>{{amountWithTax}}</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="notices">
                    <div>NOTICE</div>
                    <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                </div>
            </main>
            <footer>
                Invoice was created on a computer and is valid without the signature and seal.
            </footer>
        </div>
        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
        <div></div>
    </div>
</div>

