.header{
    background-color: gray;
    color: white;
    padding-left: 40px;
    text-shadow: 10px 10px 10px grey;
}
.mat-sidenav{
    background-color: #4ABDAC;
    color: black;
}
.mat-nav-list{
    background-color: gray;
    color: white;
}
.mat-list-item:hover{
    color: white;
    }