<div style="margin-top: 5 0px;" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
    fxLayoutGap.xs="0">
    <mat-card>
        <form>
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <mat-form-field fxFlex="25%" appearance="fill">
                    <input matInput placeholder="Vendor name" [(ngModel)]="invoiceForm.vendorname"
                        [formControl]="VendorName" required>
                    <mat-label>Vendor Name</mat-label>
                    <mat-icon matSuffix>perm_identity</mat-icon>
                    <mat-error *ngIf="VendorName.hasError('required')">
                        Vendor is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="25%" appearance="fill">
                    <input matInput type="email" placeholder="Vendor Email" [(ngModel)]="invoiceForm.email"
                        [formControl]="Email" required>
                    <mat-label>Vendor Email</mat-label>
                    <mat-icon matSuffix>mail</mat-icon>
                    <mat-error *ngIf="Email.hasError('required')">
                        Vendor Email is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="20%" appearance="fill">
                    <input matInput placeholder="Phone Number" [(ngModel)]="invoiceForm.phno" [formControl]="PhNo"
                        required>
                    <mat-label>Phone Number</mat-label>
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="PhNo.hasError('required')">
                        Phone Number is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="20%" appearance="fill">
                    <input matInput placeholder="Pan Number" [(ngModel)]="invoiceForm.panno" [formControl]="PanNo"
                        required>
                    <mat-label>Pan Number</mat-label>
                    <mat-icon matSuffix>pan_tool</mat-icon>
                    <mat-error *ngIf="PanNo.hasError('required')">
                        Pan Number is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field fxFlex="26%" appearance="fill" style="margin-left: 15px;">
                    <input matInput placeholder="GST Number" [(ngModel)]="invoiceForm.gstno" [formControl]="GstNo"
                        required>
                    <mat-label>GST Number</mat-label>
                    <mat-icon matSuffix><img style="width:30px;height:30px;" src="../../../assets/Images/gst2.jpg">
                    </mat-icon>
                    <mat-error *ngIf="GstNo.hasError('required')">
                        Gst number is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="47%" appearance="fill" style="margin-left: 15px;">
                    <input matInput placeholder="Address" [(ngModel)]="invoiceForm.address" [formControl]="Address"
                        required>
                    <mat-label>Address</mat-label>
                    <mat-icon matSuffix>address</mat-icon>
                    <mat-error *ngIf="Address.hasError('required')">
                        Address is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Discount</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let field of fieldArray; let i = index" >
                            <td>
                                <input [(ngModel)]="field.item" class="form-control" type="text"
                                    name="{{field.item}}" />
                            </td>
                            <td>
                                <input [(ngModel)]="field.description" class="form-control" type="text"
                                    name="{{field.description}}" />
                            </td>
                            <td>
                                <input [(ngModel)]="field.price" class="form-control" type="text"
                                    name="{{field.price}}" />
                            </td>
                            <td>
                                <input [(ngModel)]="field.qty" class="form-control" type="text" name="{{field.qty}}" />
                            </td>
                            <td>
                                <input [(ngModel)]="field.discount" class="form-control" type="text"
                                    name="{{field.discount}}" />
                            </td>
                            <td>
                                <input [(ngModel)]="field.amount" class="form-control" type="text"
                                    name="{{field.amount}}" [formControl]="Amount"/> 
                            </td>
                            <td>
                                <button class="btn btn-default" mat-raised-button type="button"
                                    (click)="deleteFieldValue(i)" style="background: red; color: white;">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" type="text" id="newAttributeCode"
                                [formControl]="Item"  [(ngModel)]="newAttribute.item" name="newAttributeCode" />
                            </td>
                            <td>
                                <input class="form-control" type="text" id="newAttributeName"
                                [formControl]="Description"   [(ngModel)]="newAttribute.description" name="newAttributeName" />
                            </td>
                            <td>
                                <input class="form-control" type="text" id="newAttributePrice"
                                [formControl]="Price"  [(ngModel)]="newAttribute.price" name="newAttributePrice" />
                            </td>


                            <td>
                                <input class="form-control" type="text" id="newAttributeCode"
                                [formControl]="Qty"   [(ngModel)]="newAttribute.qty" name="newAttributeCode" />
                            </td>
                            <td>
                                <input class="form-control" type="text" id="newAttributeName"
                                [formControl]="Discount"    [(ngModel)]="newAttribute.discount" name="newAttributeName" />
                            </td>
                            <td>
                                <input class="form-control" type="text" id="newAttributePrice"
                                [formControl]="Amount"  [(ngModel)]="newAttribute.amount" name="newAttributePrice" />
                            </td>
                            <td>
                                <button class="btn btn-default" mat-raised-button type="button" (click)="addFieldValue()" style="background-color: #3f51b5; color:white;">Add</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px" fxLayoutGap.xs="0">
               
                <mat-form-field fxFlex="15%" appearance="fill">
                    <input matInput placeholder="Sgst" [(ngModel)]="invoiceForm.sgst" [formControl]="Sgst" required>
                    <mat-label>Sgst</mat-label>
                    <mat-error *ngIf="Sgst.hasError('required')">
                        Sgst is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="15%" appearance="fill">
                    <input matInput placeholder="Cgst" [(ngModel)]="invoiceForm.cgst" [formControl]="Cgst" required>
                    <mat-label>Cgst</mat-label>
                    <mat-error *ngIf="Cgst.hasError('required')">
                        Cgst is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="20%" appearance="fill">
                    <!-- <mat-icon matPrefix>payment</mat-icon> -->
                    <mat-select placeholder="Payment Method" [(ngModel)]="invoiceForm.paymthd" [formControl]="Paymthd"
                        required>
                        <mat-option *ngFor="let payment of PaymentMethod" [value]="payment.method">{{payment.method}}
                        </mat-option>
                    </mat-select>
                    <mat-label>Payment</mat-label>
                    <mat-error *ngIf="Paymthd.hasError('required')">
                        Payment Method is required.
                    </mat-error>
                </mat-form-field>


                <mat-form-field fxFlex="15%" appearance="fill">
                    <input matInput [matDatepicker]="picker1" placeholder="Issue Date"
                        [(ngModel)]="invoiceForm.issuedate" [formControl]="IssueDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="IssueDate.hasError('required')">
                        Issue Date is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="15%" appearance="fill">
                    <input matInput [matDatepicker]="picker" placeholder="Due Date" [(ngModel)]="invoiceForm.duedate"
                        [formControl]="DueDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="DueDate.hasError('required')">
                        Due Date is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="10%" appearance="fill">
                    <mat-select placeholder="Paid" [(ngModel)]="invoiceForm.paid" [formControl]="Paid" required>
                        <mat-option *ngFor="let paid of PaidStatus" [value]="paid.method">{{paid.method}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="Paid.hasError('required')">
                        Paid is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-raised-button (click)="submit()" class="button">{{method=='edit'?'Update':'Create'}}</button>
            </div>
        </form>
    </mat-card>
</div>